body {
    background-color: #ebf5f4;
}

div {
    background-color: #ffffff;
    margin: auto;
    width: 400px;
    padding: 10px;
}

form {
    position: center;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 8px;
}

label {
    grid-column: 1 / 2;
    text-align: right;
}

input,
button {
    grid-column: 2 / 3;
}